@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #f7f4f2;
  font-family: "Merriweather", serif;
}

a {
  color: #f5f5f7;
  font-size: 1rem;
}

.container {
  position: absolute;
  background: url(/img/green_purple_flower.jpg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
}

header {
  position: relative;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  height: 60px;
  width: 100%;
}
.nav_bar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav_bar .links {
  display: flex;
  gap: 2rem;
}
.nav_bar:hover {
  transition: all 0.4s ease;
  background: white;
}
.nav_bar:hover a {
  color: #1d1d1f;
}

.cta_btn {
  display: flex;
  gap: 2rem;
}

.toggle_btn {
  color: #1d1d1f;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  color: #1d1d1f;
  background: #ec8218;
  padding: 0.5rem 1rem;
  border: 2px solid #ec8218;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
}
.action_btn:hover {
  background: #f5f5f7;
}

.hero_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero_contentContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.hero_contentContainer h2 {
  margin-top: 0;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.8px;
  margin-bottom: 28px;
}
.hero_contentContainer h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.8px;
  margin-bottom: 28px;
}
.hero_contentContainer .action_btn {
  font-size: 1rem;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  background: rgba(245, 245, 247, 0.08);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.dropdown_menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
}
.dropdown_menu .action_btn {
  border: none;
  padding: 0;
}

.dropdown_menu.open {
  height: 240px;
}

.experience_flow_section {
  display: flex;
  flex-direction: row;
  margin: 2rem 6rem;
}
.experience_flow_section img {
  width: auto;
  height: 500px;
}

.experience_flow_mirrored {
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem 6rem;
}
.experience_flow_mirrored img {
  width: 755px;
  height: 500px;
}

.section_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.section_content h2 {
  font-size: 32px;
  padding-bottom: 1rem;
}
.section_content p {
  padding: 0 4rem;
}

.pricing_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #603140;
}

.pricing_option {
  margin: 3rem 1rem;
  background: #F5E7E0;
}
.pricing_option img {
  max-width: 100%;
  height: 280px;
}

.pricing_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  padding-bottom: 2rem;
}
.pricing_content h2 {
  padding-bottom: 1rem;
  font-size: 32px;
}
.pricing_content .pricing_amount {
  display: inline-flex;
  gap: 1rem;
  font-size: 24px;
  padding-bottom: 2rem;
}
.pricing_content .pricing_amount span {
  color: gray;
  text-decoration: line-through;
}
.pricing_content .pricing_text {
  font-size: 16px;
  padding: 0 2rem;
  padding-bottom: 3rem;
}

.reviews {
  background: #e59400;
}

.review_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
.review_content .review_title {
  padding: 10px 0;
}
.review_content .review_tag {
  padding: 10px 0;
  font-size: 36px;
}
.review_content a {
  margin: 1rem;
}

.review_card {
  background: #fff;
  border-radius: 20px;
  width: 300px;
  padding: 2rem 1rem;
}

@media (max-width: 768px) {
  .nav_bar .links,
  .cta_btn {
    display: none;
  }
  .nav_bar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */