@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import './variables';
@import './mixins';

// * GLOBAL *

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a {
        &:visited {
            text-decoration: none;
            color: $priamryTxtColor;
        }
        &:link {
            text-decoration: none;
            color: $priamryTxtColor;
        }
    }
}

body {
    background: $primaryBGColor;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: $priamryTxtColor;  
}

a, ul {
    list-style: none;
    text-decoration: none;
}

.actionBtn {
    color: $priamryTxtColor;
    background: $primaryBTNColor;
    padding: 0.5rem 1rem;
    border: 2px solid $primaryBTNColor;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
        background: $primaryBGColor;
    }
}

// * HEADER SECTION *

.headerContainer {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.flexNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 0 2rem;
    .logo a {
        font-size: 26px;
        font-weight: 400;
        line-height: 60px;
        color: $primaryBGColor;
    }
    button {
        border: transparent;
        background: transparent;
        font-size: 2rem;
        color: $primaryBGColor;
    }
    &:hover {
        background: white;
        transition: all 0.4s ease;
        a, button {
            color: $priamryTxtColor;
        }
    }
}

.desktopNavBar {
    display: none;
}

.ctaHeader {
    display: none;
}

.linksHidden {
    opacity: 0;
}

.linksOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding-bottom: 2rem;
    transition: 0.3s;
    opacity: 1;
    .navLink {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5rem;
        padding: 5px 0;
        border-bottom: 0.2px $secondaryBGColor solid;
        a {
            color: $priamryTxtColor;
        }
    }
}

// * HERO SECTION *

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;
    z-index: -1;
    background: url(/img/green_purple_flower.jpg) no-repeat center / cover;
    width: 100%;
    height: 100vh;
}

.heroContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h3 {
        display: none;
    }
    h2 {
        text-align: center;
        max-width: 558px;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: .8px;
        margin-bottom: 28px;
    }
    .actionBtn{
        font-size: 1rem;
    }
}

// * EXPERIENCE SECTION *

.experienceContainer {
    margin: 2rem 0;
    padding: 0 1rem;
}

.experienceMobileFlow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.experienceFlowSection {
    display: flex;
    flex-direction: column;
    // max-width: 1600px;
    gap: 32px;
    margin-bottom: 4rem;
    .sectionImage {
        img {
            width: 100%;
            height: auto;
            max-height: 620px;
            object-fit: cover;
            gap: 2rem;
        }
    }
    .sectionContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 28px;
            line-height: 32px;
            padding-bottom: 9px;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }
}

// * PRICING SECTION *

.pricingContainer {
    background: $secondaryBGColor;
}

.pricingMobileFlow {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.pricingOption {
    overflow: hidden;
    max-width: 365px;
    .pricingImg {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: auto;
        overflow: hidden;
        img {
            width: 100%;
            max-height: 338px;
        }
    }
    .pricingContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $primaryBGColor;
        padding: 32px 25px;
        max-height: 275px;
        h2 {
            font-size: 20px;
            line-height: 32px;
        }
        .pricingAmount {
            display: flex;
            gap: 0.5rem;
            padding-bottom: 1rem;
            h3 {
                font-size: 24px;
                color: tomato;
            }
            span {
                font-size: 20px;
                color: gray;
                text-decoration: line-through;
            }
        }
        .pricingText {
            text-align: center;
            min-height: 6em;
            p {
                font-size: 14px;
            }
        }
    }
}

// * REVIEW SECTION *

.reviewContainer {
    background: $variableBGColor;
    padding: 50px 0 40px;
    .reviewContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 16px;
            color: $primaryBGColor;
            margin-bottom: 10px;
        }
        span {
            font-size: 34px;
            color: $primaryBGColor;
            text-align: center;
            margin-bottom: 30px;
        }
        a {
            margin-bottom: 38px;
        }
    }
}

.reviewWrapper {
    margin: 0 auto;
    max-width: 366px;
    position: relative;
    overflow: hidden;
    .reviewCarousel {
        display: flex;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        gap: 16px;
        width: 100%;
        .reviewCard {
            flex: 0 0 auto;
            scroll-snap-align: start;
            background: $primaryBGColor;
            padding: 43px 40px;
            border-radius: 8px;
            height: 443px;
            width: 366px;
            min-height: 443px;
            min-width: 366px;
            h3 {
                margin-bottom: 13px;
                font-size: 16px;
                line-height: 24px;
            }
            .rating {
                margin-bottom: 23px;
            }
            span {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .carouselControls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        #prevBtn, #nextBtn {
            cursor: pointer;
            background: transparent;
            font-size: 30px;
            border: transparent;
            padding: 0 10px;
            color: $priamryTxtColor;
            &:focus {
                outline: none;
            }
        }
    }
}

// * FOOTER SECTION *

.mainFooterContainer {
    padding: 10px 20px 31px;
    .mainFooterTabs {
        margin-bottom: 58px;
        .mobileFooterHeading {
        border-bottom: 1px solid #beac9e;
        }
    }
}

.companyItemsHidden,
.exploreItemsHidden,
.contactItemsHidden,
.socialsItemsHidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.companyItemsOpen,
.exploreItemsOpen,
.contactItemsOpen,
.socialsItemsOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 135px;
    background: $primaryBGColor;
    transition: all 0.5s;
    opacity: 1;
    overflow: hidden;
    .table_item {
        margin: 11px 0;
    }    
}

.socialsItemsOpen ul {
    display: flex;
    gap: 16px;
}

#socialSection {
    height: 65px;
}

#socialSectionDesktop {
    height: 65px;
}

.mobileFooterBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    .table_title {
        font-size: 20px;
        line-height: 32px;
        padding-bottom: 16px;
    }
    .span {
        margin-right: auto;
    }
}

.closingPromise {
    padding-top: 24px;
    h3 {
        font-size: 20px;
        line-height: 32px;
    }
    p {
        margin-top: 14px;
        font-size: 16px;
        line-height: 24px;
    }
}

.mainFooterTabsDesktop {
    display: none;
}
.footerTabDesktop {
    margin-top: 11px;
    margin-right: 100px;
}
.desktopFooterHeading {
    margin-bottom: 14px;
}
.desktopTableTitle {
    font-size: 20px;
}
.desktopTableItem {
    margin-bottom: 11px;
}
.desktopClosingPromise {
    margin-top: 11px;
    h3 {
        font-size: 20px;
    }
    p {
        // margin-top: 14px;
        font-size: 16px;
        line-height: 24px;
    }
}

// * MEDIA QUERIES *

@media (min-width: 800px) {
    .experienceContainer {
        display: flex;
        justify-content: center;
        padding: 0 3rem;
    }
    .experienceFlowSection {
        flex-direction: row;
    }
    #mirrored {
        flex-direction: row-reverse;
    }
    .sectionContent {
        align-self: center;
        max-width: 235px;
    }
    .pricingContainer {
        display: flex;
    }
    .pricingMobileFlow {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 920px) {
    .reviewWrapper {
        max-width: 748px;
    }
}

@media (min-width: 1190px) {
    .flexNavBar {
        button {
            display: none;
        }
        .logo a {
            display: flex;
            width: 255px;
            font-size: 24px;
        }
    }
    .desktopNavBar {
        display: flex;
        justify-content: center;
        width: 100%;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            height: 100%;
            li {
                padding: 0 4px;
            }
            a {
                font-size: 16px;
                color: $primaryBGColor;
            }
        }
    }
    .ctaHeader {
        display: flex;
        justify-content: flex-end;
        width: 192px;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 192px;
            gap: 12px;
        }
    }
    .pricingContainer {
        justify-content: center;
    }
    .pricingMobileFlow {
        flex-wrap: nowrap;
    }
    .sectionContent {
        max-width: 565px;
    }
    .companyItemsOpen,
    .exploreItemsOpen,
    .contactItemsOpen,
    .socialsItemsOpen {
        justify-content: flex-start;
    }
    .mainFooterContainer {
        display: flex;
        justify-content: center;
    }
    .mainFooterTabsDesktop {
        display: flex;
        margin-bottom: 24px;
        width: 100%;
        max-width: 1440px;
    }
    .mainFooterTabs {
        display: none;
    }
}