@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f4f2;
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: #1d1d1f;
}

a, ul {
  list-style: none;
  text-decoration: none;
}

.actionBtn {
  color: #1d1d1f;
  background: #A1E8AF;
  padding: 0.5rem 1rem;
  border: 2px solid #A1E8AF;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
}
.actionBtn:hover {
  background: #747C92;
}

.headerContainer {
  position: fixed;
  width: 100%;
}

.flexNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.flexNavBar .logo a {
  font-size: 26px;
  font-weight: 400;
  line-height: 60px;
  color: #f7f4f2;
}
.flexNavBar button {
  border: transparent;
  background: transparent;
  font-size: 2rem;
  color: #f7f4f2;
}
.flexNavBar:hover {
  background: #f7f4f2;
  transition: all 0.4s ease;
}
.flexNavBar:hover a, .flexNavBar:hover button {
  color: #1d1d1f;
}

.linksHidden {
  display: none;
}

.linksOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f4f2;
  transition: all 0.8s ease;
}
.linksOpen .navLink {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 5px 0;
  border-bottom: 0.2px #747C92 solid;
}
.linksOpen .navLink a {
  color: #1d1d1f;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 6rem;
  z-index: -1;
  background: url(/img/green_purple_flower.jpg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
}

.heroContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.heroContentContainer h3 {
  display: none;
}
.heroContentContainer h2 {
  text-align: center;
  max-width: 558px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0.8px;
  margin-bottom: 28px;
}
.heroContentContainer .actionBn {
  font-size: 1rem;
}

.experienceContainer {
  margin: 2rem 0;
  padding: 0 1rem;
}

.experienceMobileFlow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.experienceFlowSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 4rem;
}
.experienceFlowSection .sectionImage img {
  width: 100%;
  height: auto;
  gap: 2rem;
}
.experienceFlowSection .sectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experienceFlowSection .sectionContent h2 {
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}
.experienceFlowSection .sectionContent p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.pricingContainer {
  background: #747C92;
}

.pricingMobileFlow {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.pricingOption {
  overflow: hidden;
  max-width: 365px;
}
.pricingOption .pricingImg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.pricingOption .pricingImg img {
  width: 100%;
  max-height: 338px;
}
.pricingOption .pricingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f4f2;
  padding: 32px 25px;
}
.pricingOption .pricingContent h2 {
  font-size: 20px;
  line-height: 32px;
}
.pricingOption .pricingContent .pricingAmount {
  gap: 1rem;
  padding-bottom: 1rem;
}
.pricingOption .pricingContent .pricingAmount h3 {
  font-size: 24px;
  color: tomato;
}
.pricingOption .pricingContent .pricingAmount span {
  font-size: 20px;
  color: gray;
  text-decoration: line-through;
}
.pricingOption .pricingContent .pricingText {
  text-align: center;
  min-height: 6em;
}
.pricingOption .pricingContent .pricingText p {
  font-size: 14px;
}

.reviewContainer {
  background: #bca643;
  padding: 50px 0 40px;
}
.reviewContainer .reviewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewContainer .reviewContent h2 {
  font-size: 16px;
  color: #f7f4f2;
  margin-bottom: 10px;
}
.reviewContainer .reviewContent span {
  font-size: 34px;
  color: #f7f4f2;
  text-align: center;
  margin-bottom: 30px;
}
.reviewContainer .reviewContent a {
  margin-bottom: 38px;
}

.reviewWrapper {
  margin: 0 auto;
  max-width: 366px;
  position: relative;
  overflow: hidden;
}
.reviewWrapper .reviewCarousel {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  transition: transform 0.5s ease;
}
.reviewWrapper .reviewCarousel .reviewCard {
  background: #f7f4f2;
  padding: 43px 40px;
  border-radius: 8px;
  height: 443px;
  width: 366px;
  min-height: 443px;
  min-width: 366px;
}
.reviewWrapper .carouselControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.reviewWrapper .carouselControls #prevBtn, .reviewWrapper .carouselControls #nextBtn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: transparent;
  padding: 0 10px;
  color: #1d1d1f;
}
.reviewWrapper .carouselControls #prevBtn:focus, .reviewWrapper .carouselControls #nextBtn:focus {
  outline: none;
}

.mainFooterContainer {
  padding: 10px 20px 31px;
}
.mainFooterContainer .mainFooterTabs {
  margin-bottom: 58px;
}
.mainFooterContainer .mainFooterTabs .mobileFooterHeading {
  border-bottom: 1px solid #beac9e;
}

.companyItemsHidden,
.exploreItemsHidden,
.contactItemsHidden,
.socialsItemsHidden {
  display: none;
}

.companyItemsOpen,
.exploreItemsOpen,
.contactItemsOpen,
.socialsItemsOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #f7f4f2;
  transition: all 0.8s ease;
}
.companyItemsOpen .table_item,
.exploreItemsOpen .table_item,
.contactItemsOpen .table_item,
.socialsItemsOpen .table_item {
  margin: 11px 0;
}

.mobileFooterBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.mobileFooterBtn .table_title {
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 16px;
}
.mobileFooterBtn .span {
  margin-right: auto;
}

.closingPromise {
  padding-top: 24px;
}
.closingPromise h3 {
  font-size: 20px;
  line-height: 32px;
}
.closingPromise p {
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
}/*# sourceMappingURL=style.css.map */